/*  门禁模块样式  s*/
.doorControl{position: relative;width: 100%;height:100%;color:#fff;background:url('../../assets/img/fullBg.png') no-repeat center;background-size: 100% 100%;padding: 0 20px 20px 20px;box-sizing:border-box;}
.doorHead{width:100%;height:50px;position: absolute;left:0;top:0;z-index: 10;display: block;background: #002d68;}
.companyLogo{float: left;width:200px;height:50px;line-height: 50px;}
.companyLogo>i{display: inline-block;width:30px;height:30px;}
.companyLogo>span{display: inline-block;height:50px;line-height: 50px;font-size: 16px;}
.searchBox{position: relative;}
.searchBox .el-input{background:#001838!important;}
.searchBox input{background:#001838!important;padding-right:70px;border:0px!important;}
.searchBox .btn{position: absolute;top:9px;right:4px;font-size: 16px;line-height: 30px;}
nav.tabNav{float: left;width:auto;height:50px;line-height: 50px;}
nav.tabNav span a{color: #cdcdcd;cursor: pointer;padding-left: 20px;}
nav.tabNav span a.on{color:#008aff;}
.cursor{cursor: pointer;}
.floatRt{float:right!important;}
.borderShadow{width:100%;height:100%;position: relative;padding-top: 50px;padding-bottom: 10px;-webkit-box-shadow:0 0 10px rgba(74, 144, 226, 0.22);-moz-box-shadow:0 0 10px rgba(74, 144, 226, 0.22);box-shadow:0 0 10px rgba(74, 144, 226, 0.22);}
.tabsDomBox{padding-top: 80px;position: relative;width:100%;height:100%;}
.tableBox{width:100%;height:100%;position:relative;box-sizing:border-box;padding-bottom:50px;}
.navCrumbs{position: absolute;top:50px;left:0;display: block;height:30px;line-height: 30px;color:#4d5d76;font-size: 12px;}
.navCrumbs>span{color:#008aff;}
.tabsDomBox .searchConditionBox{position: absolute;left:0;top:0px;height:50px;display: block;width:100%;padding-top:9px;padding-left:15px;}
.searchConditionBox .dateBox{height:32px;padding-right:20px;float: left;}
.dateBox .el-input__inner,.dateBox .el-input{height:100%!important;}
.btn{padding:0 15px;color:#fff;border-radius:2px;background: #3a84ee;border:1px solid #1989fa;height:32px;line-height:32px;cursor: pointer;width:88px;font-size: 14px!important;}
.btnExport{margin-right:15px;}
.tableBox .el-table__header{background:rgba(0,0,0,.25);}
.el-pagination__sizes{display:none!important;}
.tableBox .el-pagination.is-background .btn-next,.tableBox .el-pagination.is-background .btn-prev,.tableBox .el-pagination.is-background .el-pager li{width:24px!important;height:24px!important;min-width: 20px;margin-right:10px!important;margin-left: 0!important;line-height: 24px;color:#008aff;}
/*.tableBox .el-pagination__editor.el-input{width:30px!important;height:24px!important;}*/
.el-pagination__editor.el-input{padding-top:2px;}
.tableBox .el-pagination{padding-top:10px;margin-top:-8px;}
.tableBox .el-pagination__editor.el-input .el-input__inner{height:24px;line-height: 24px;}
.tableBox .el-pagination__total{left:15px;bottom:0px;}
.tableBox .el-pagination__jump{margin-right:10px;}
.tableBox .el-table thead th.is-leaf{padding:0!important;border:0!important;}
.tabsDomBox0{padding-top: 170px;position: relative;height: 100%;}
.tabsDomBox0 .el-select .el-input__inner{height:32px;width:98px;font-size: 12px!important;}
.el-select:hover .el-input__inner,.el-input__inner:hover{border:1px solid #1989fa;}
.tabsDomBox0 .el-select{margin-top:14px;margin-left: 20px;}
.tabsDomBox0 .el-select:nth-child(2){margin-left: 10px;}
.floorImgBox i:hover .pop{display: block;}
/*.floorImgBox i .pop:hover{display: none;}*/
.el-table td, .el-table th{padding:2px 0;}
.el-table .cell{font-size: 12px;text-align: center;}
.el-table th>.cell{text-align: center;font-size: 14px!important;padding: 0!important;}
.el-table .el-table__body td{padding:0;font-size: 14px;color:#f4f4f4;}
.el-table .el-table__body td .cell{font-size: 14px;color:#f4f4f4;text-align: center;}
.doorInfoBgBox .tableBox .el-table__header{background:rgba(0,0,0,0);}
.doorInfo{position: absolute;left:0;top:0;width:100%;height:100%;padding:70px 0 22px 0;z-index: 1111;}
.doorInfoBgBox{position:relative;width:100%;height:100%;background:#02132a;-webkit-box-shadow:0 0 2px rgba(39, 141, 255, 0.3);-moz-box-shadow:0 0 2px rgba(39, 141, 255, 0.3);box-shadow:0 0 2px rgba(39, 141, 255, 0.3);}
.doorExportPanel{position: absolute;top: 30px;left:0;z-index:10;display: block;width: 100%;height:40px;line-height: 40px;padding:0 20px;background:#010e1f; }
.doorExportPanel button{margin-top:4px; }
.closeDoorInfo{display: block;position:absolute;right:-8px;top:-10px;width:16px;height:16px;text-align: center;line-height: 16px;font-size: 16px;background:#00275b;color:#3b89f9;border-radius: 8px;cursor: pointer;}
.pop{position:absolute;left:95%;top:0;width:162px;height:110px;padding-left: 19px;display: none;z-index: 10;}
.popBgBox{width:100%;height:100%;background:#04152c;-webkit-box-shadow:0 0 2px rgba(60, 150, 255, 0.35);-moz-box-shadow:0 0 2px rgba(60, 150, 255, 0.35);box-shadow:0 0 2px rgba(60, 150, 255, 0.35);}
.popBgBox .popHeadBox{width:100%;height:40px;line-height:40px;background: rgba(0,103,255,.3);text-align: left;padding-left:20px;font-size: 14px;color:#fff;}
.popBgBox .popDoorStatus,.popBgBox .popDoorControl{width:100%;height:28px;line-height: 30px;color:#4f648b;padding-left: 15px;font-size: 14px;}
.popBgBox .popDoorStatus span:nth-child(2){color:#1989fa;margin-left: 10px;font-size: 14px;cursor: pointer;}
.popBgBox .popDoorControl span:nth-child(2){color:#36fceb;text-decoration: underline;margin-left: 10px;font-size: 14px;cursor: pointer;}
.arrowLeft{position:absolute;left:5px;top:3px;display:block;width: 0;height: 0;border-top: 10px solid transparent;border-right: 15px solid #022d6b;border-bottom: 10px solid transparent;}
.popBgBox .popDoorStatus span,.popBgBox .popDoorControl span{float: left;}
.topShadow{position: absolute;top:90px;-webkit-box-shadow:0 0 10px rgba(74, 144, 226, 0.22);-moz-box-shadow:0 0 10px rgba(74, 144, 226, 0.22);box-shadow:0 0 10px rgba(74, 144, 226, 0.22);display: block;width: 100%;height:60px;}
.bottomShadow{position:relative;width:100%;height:100%;-webkit-box-shadow:0 0 10px rgba(74, 144, 226, 0.22);-moz-box-shadow:0 0 10px rgba(74, 144, 226, 0.22);box-shadow:0 0 10px rgba(74, 144, 226, 0.22);}
.bottomShadow .floorImgBox{position:absolute;display:block;left:0;top:0;}
.bottomShadow .floorImgBox img{display: block;width:100%;height:100%;}
.bottomShadow .floorImgBox i{position:absolute;display: block;width:auto;height:auto;cursor: pointer;font-size: 12px;line-height: 24px;text-align: center;}
/*.bottomShadow .floorImgBox i.doorSta0{background:url(../../assets/img/doorControl/door1.png) no-repeat;background-size: 100% 100%;}
.bottomShadow .floorImgBox i.doorSta1{background:url(../../assets/img/doorControl/door3.png) no-repeat;background-size: 100% 100%;}
.bottomShadow .floorImgBox i.doorSta2{background:url(../../assets/img/doorControl/door2.png) no-repeat;background-size: 100% 100%;}*/
/*.bottomShadow .floorImgBox i.door1{left:48px;top:74px;}
.bottomShadow .floorImgBox i.door2{left:94px;top:180px;}
.bottomShadow .floorImgBox i.door3{left:192px;top:277px;}
.bottomShadow .floorImgBox i.door4{left:300px;top:260px;}
.bottomShadow .floorImgBox i.door5{left:250px;top:72px;}
.bottomShadow .floorImgBox i.door6{left:378px;top:310px;}
.bottomShadow .floorImgBox i.door7{left:455px;top:16px;}
.bottomShadow .floorImgBox i.door8{left:512px;top:107px;}
.bottomShadow .floorImgBox i.door9{left:602px;top:246px;}
.bottomShadow .floorImgBox i.door10{left:638px;top:30px;}
.bottomShadow .floorImgBox i.door11{left:734px;top:119px;}
.bottomShadow .floorImgBox i.door12{left:822px;top:350px;}*/

.doorStatusBox{position: absolute;right:0;top:22px;height:16px;}
.doorStatusBox li{float: left;padding:0 20px;border-right:2px solid #4a90e2;height:16px;line-height: 16px;font-size: 16px;}
.doorStatusBox li:last-child{border:0px;}
.doorStatusBox li span:first-child{padding-right:20px;}
.doorAllN{color: #f38a00;font-size: 18px;}
.doorCloseN{color: #759ee5;font-size: 18px;}
.doorWarningN{color: #f38a00;font-size: 18px;}
.doorClose,.doorWarning,.doorOpen{display: inline-block;width:16px;height:16px;border-radius:8px;margin-right: 8px;margin-bottom: -3px;}
.doorClose{border:1px solid #1989fa;background:#1989fa;}
.doorWarning{border:1px solid #e04f4f;background:#FF5D3B;}
.doorOpen{border:1px solid #fff;background:#fff;}
.marginRt10{margin-right: 10px!important;}
.exportIcon{display: inline-block;width:16px;height:16px;background:url(../../assets/img/doorControl/export.png) no-repeat;background-size: 100% 100%;margin-right:10px;margin-bottom: -3px;}
/*  门禁模块样式  e*/

/* 视频监控  s*/
.VideoSurveillance{padding-top: 85px;}
.VideoSurveillance .navCrumbs{padding-left: 20px;}
.VideoSurveillance .mainContentBox{width:100%;height:100%;border-radius: 4px;-webkit-box-shadow:0 0 10px rgba(74, 144, 226, 0.22);-moz-box-shadow:0 0 10px rgba(74, 144, 226, 0.22);box-shadow:0 0 10px rgba(74, 144, 226, 0.22);position: relative;padding-top: 50px;}
.videoConditionsBox{position:absolute;top:0;left:0;height:50px;width:100%;background:rgba(0,0,0,.25);border-radius: 4px 4px 0 0;padding-top:8px;}
.videoConditionsBox li{float: left;width:120px;height:32px;text-align: right;padding-right:20px;line-height: 32px;font-size: 12px;}
.videoConditionsBox li:first-child{width:100px;font-size: 14px;}
.videoConditionsBox li .el-input__inner{height:32px;font-size: 14px!important;}
.videoConditionsBox li.floatRt{width:170px;}
.videoConditionsBox li .vieCtBgBox{text-align: left;width: 151px;height: 32px;background: rgba(74,144,226,0.1);border-radius: 2px;padding-left: 10px;}
.videoConditionsBox li .vieCtBgBox span{font-size: 16px;}
.videoConditionsBox li span.totleVideosNum{color:#f38a00;padding-left: 10px;font-size: 18px;}
.VideoSurveillance .bottomShadow .floorImgBox span{position: absolute;left:100px;top:100px;z-index: 10;display: block;cursor:pointer;width:30px;height:20px;background:url(../../assets/img/Video/monitor1.png) no-repeat;background-size: 100% 100%;}
.VideoSurveillance .bottomShadow .floorImgBox span label{position: absolute;top:-4px;right:-18px;display: block;width:16px;height:16px;border-radius: 8px;text-align: center;line-height: 16px;font-size: 12px;background:#7ea5e7;}

.videoShowBox{position: absolute;top:0px;left:0;z-index:11;display: block;width:100%;height:100%;padding:70px 20px 20px 20px;}
.videoPopBg>i{position: absolute;right:-13px;top:-9px;cursor:pointer;font-size:18px;line-height: 20px;text-align: center;display: block;width:20px;height:20px;border-radius:10px;background:#00275b;color:#3b89f9;}
.videoPopBg{width:100%;height:100%;background:#02132a;position:relative;-webkit-box-shadow:0 0 10px rgba(74, 144, 226, 0.22);-moz-box-shadow:0 0 10px rgba(74, 144, 226, 0.22);box-shadow:0 0 10px rgba(74, 144, 226, 0.22);padding-top:40px;}
.videoDeviceTitle{display:block;height:40px;width:100%;line-height: 40px;background: rgba(0,0,0,.25);position:absolute;left:0;top:0;padding:0 20px;}
.videoDeviceTitle span.dateBox{height:40px;line-height: 40px;width:140px;position: absolute;top:0;left:50%;margin-left: -70px;text-align: center;font-size: 14px;}
.videoDeviceTitle span.deviceaAcription{font-size: 12px;display: inline-block;height:40px;line-height: 40px;}
.videoPanelBox{padding:20px;width:100%;height:100%;}
.videoDeviceInfo{height:30px;line-height: 30px;padding:0 20px;background: #00275b;color:#fff;font-size: 12px;border-radius: 4px;border:0px;outline:none;margin-top:5px;cursor:pointer;}

.deviceInfoPop{position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:rgba(0,0,0,.1);}
.deviceInfoPop .deviceInfoBgBox{position: absolute;top:50%;left:50%;width:700px;height:440px;margin-left:-350px;margin-top:-240px;background:#02132a;border-radius: 8px;-webkit-box-shadow:0 0 10px rgba(74, 144, 226, 0.22);-moz-box-shadow:0 0 10px rgba(74, 144, 226, 0.22);box-shadow:0 0 10px rgba(74, 144, 226, 0.22);padding:60px 0 20px 0;}
.deviceInfoPop .deviceInfoBgBox>span{position: absolute;left:0;top:0;display:block;width:100%;height:40px;background:rgba(0,0,0,.25);border-radius:8px 8px 0 0;padding-left:20px;line-height: 40px;font-size: 12px;}
.deviceInfoPop .deviceInfoBgBox>i{position: absolute;right:-13px;top:-9px;cursor:pointer;font-size:18px;line-height: 20px;text-align: center;display: block;width:20px;height:20px;border-radius:10px;background:#00275b;color:#3b89f9;}

.deviceTabBox{width:100%;height:100%;padding-top: 40px;position: relative;}
.deviceTabBox nav.tabNav{padding:0 20px;width:100%;position: absolute;left:0;top:0;display: block;}
.deviceTabBox nav.tabNav>span{display:inline-block;width:50%;height:32px;line-height: 32px;text-align:center;color:#fff;float: left;background: rgba(255,255,255,.01);}
.deviceTabBox nav.tabNav span a{display: block;width:100%;height:100%;line-height: 32px;text-align:center;border:1px solid #3b89f9;}
.deviceTabBox nav.tabNav span a.on{display: block;width:100%;height:100%;line-height: 32px;text-align:center;background:rgba(59, 137, 249, 0.2);color:#4a90e2;}
.deviceTabBox nav.tabNav span:first-child a{border-right:0px;border-radius:5px 0 0 5px;}
.deviceTabBox nav.tabNav span:last-child a{border-radius:0 5px 5px 0;}

.deviceInfoDom{width:100%;height:100%;padding:10px 20px 0 20px;}
.deviceInfoDom>ul{width:100%;height:100%;padding:0;}
.deviceInfoDom>ul>li{width:50%;height:34px;line-height: 34px;float: left;}
.deviceInfoDom>ul>li span{color:#fff;font-size: 12px;display: inline-block;float: left;height: 34px;line-height: 34px;}
.deviceInfoDom>ul>li:nth-child(even) span{display: inline-block;width:86px;}
.deviceInfoDom>ul>li span.devNameSpan{color:#4f648b;padding-right:10px;display: inline-block;width: 86px;text-overflow: ellipsis;white-space: nowrap;overflow:hidden;}

.maintenanceRecord{width:100%;height:100%;padding:10px 20px 0 16px;}
.maintenanceRecord ul.devHistryList{width:100%;height:auto;padding:0;padding-left: 4px;}
.maintenanceRecord ul.devHistryList>li{width:100%;height:54px;padding-left: 10px;border-left: 1px solid #2772e3;padding-bottom: 4px;position: relative;}
.maintenanceRecord ul.devHistryList>li:before{content: '';display: block;width:8px;height:8px;background:linear-gradient(180deg,rgba(254,231,187,1) 0%,rgba(255,208,142,1) 100%);position: absolute;left:-4px;top:4px;border-radius:4px;}
.maintenanceRecord ul.devHistryList>li span{color:#b5d7ff;font-size: 12px;}
.maintenanceRecord ul.devHistryList>li span.dateHistryBox{color:#b5d7ff;font-size: 12px;margin-bottom: 2px;}
.maintenanceRecord ul.devHistryList>li span.dateHistryBox a{padding-left: 10px;position: relative;margin-left: 12px;}
.maintenanceRecord ul.devHistryList>li span.dateHistryBox a i{position:absolute;left: 0;top:0;display: block;width:1px;height:12px;background:linear-gradient(180deg,rgba(0,193,255,1) 0%,rgba(0,142,254,1) 100%); }
.maintenanceRecord ul.devHistryList>li span.maintenanceContent{color:#fff;font-size: 12px;display: block;width:100%;height:28px;background:#011f51;line-height: 28px;padding-left: 6px;margin-top:4px;box-shadow:0px 0px 1px 0px rgba(87,113,176,0.15),0px 0px 2px 0px rgba(0,0,0,0.33);}

.hotelStatus{width:100%;height:100%;padding-top: 86px;position:relative;}
.hotelMainContent{width:100%;height:100%;position: relative;padding-left:240px;}
.hotelMainInfo{position:absolute;top:0px;left:0;width:220px;height:100%;box-shadow:0px 2px 5px 0px rgba(74,144,226,0.22),1px 1px 1px 0px rgba(248,253,255,0.15),0px 0px 1px 0px rgba(74,144,226,1);border-radius:4px;}
.hotelMainInfo li{width:100%;height:40px;padding-left: 10px;position:relative;background:rgba(30,69,155,0.35);}
.hotelMainInfo li:first-child{margin-bottom: 15px;background:rgba(0,0,0,.2);border-radius:4px 4px 0 0;}
.hotelMainInfo li:nth-child(2),.hotelMainInfo li:nth-child(3){margin-bottom: 1px;}
.hotelMainInfo li span{height:40px;line-height: 40px;color:#b5d7ff;font-size: 16px;}
.hotelMainInfo li a{height:40px;line-height: 40px;color:#fff;font-size: 16px;float:right;padding-right:10px;}
.hotelMainInfo li:first-child span{color:#008aff;padding-right:10px;}
.hotelMainInfo li:first-child i{position:absolute;left:90px;top:12px;display: block;width:2px;height:16px;background:#008aff;border-radius: 2px;}
.roomsStaListPanel{width:100%;height:100%;position: relative;padding-top:40px;box-shadow:0px 2px 5px 0px rgba(74,144,226,0.22),1px 1px 1px 0px rgba(248,253,255,0.15),0px 0px 1px 0px rgba(74,144,226,1);border-radius:4px;}
.roomListHeadBox{position: absolute;left:0;top:0;display: block;width:100%;height:40px;background:rgba(0,0,0,.2);border-radius:4px 4px 0 0;}
.roomListHeadBox span{height:40px;line-height: 40px;font-size: 16px;padding-left:30px;position:relative;display: inline-block;}
.roomListHeadBox span i{position:absolute;left:14px;top:14px;display: block;width:12px;height:12px;border-radius:10px;}
.roomListHeadBox span.emptyDirty{color:#FF85C0;}
.roomListHeadBox span.emptyClean{color:#91D5FF;}
.roomListHeadBox span.fullDurty{color:#B7EB8F;}
.roomListHeadBox span.fullClean{color:#87E8DE;}
.roomListHeadBox span.roomLock{color:#FF7875;}
.roomListHeadBox span.roomRepair{color:#FF4D4F;}

.roomListHeadBox span.emptyDirty i{background:#FF85C0;}
.roomListHeadBox span.emptyClean i{background:#91D5FF;}
.roomListHeadBox span.fullDurty i{background:#B7EB8F;}
.roomListHeadBox span.fullClean i{background:#87E8DE;}
.roomListHeadBox span.roomLock i{background:#FF7875;}
.roomListHeadBox span.roomRepair i{background:#FF4D4F;}

.roomListHeadBox span:first-child{color:#008aff;padding-right:20px;padding-left: 10px;}
.roomListHeadBox span:first-child i{position:absolute;left:106px;top:12px;display: block;width:2px;height:16px;background:#008aff;border-radius: 2px;}
.roomListHeadBox .el-select{float:right;margin-right:10px;width:72px;}
.roomListHeadBox .el-select .el-input__inner{height:30px!important;width:54px!important;padding:0!important;border:0px!important;}

.roomsTypeStaBox{width:100%;height:100%;padding-left:10px; }
.roomsTypeStaBox ul li:first-child{height:40px;line-height: 40px;font-size: 16px;}
.roomsTypeStaBox ul li.roomLstLi{width:11.1%;float: left;padding-right:5px;height:60px;padding-bottom: 5px;}
.roomsTypeStaBox ul li.roomLstLi>div{width:100%;height:100%;position: relative;}
.roomsTypeStaBox ul li.roomLstLi>div.roomStaVD{background:url(../img/HotelManage/air-dirty@3x.png) no-repeat;background-size: 100% 100%;}
.roomsTypeStaBox ul li.roomLstLi>div.roomStaVC{background:url(../img/HotelManage/air-clean@3x.png) no-repeat;background-size: 100% 100%;}
.roomsTypeStaBox ul li.roomLstLi>div.roomStaOD{background:url(../img/HotelManage/room-dirty@3x.png) no-repeat;background-size: 100% 100%;}
.roomsTypeStaBox ul li.roomLstLi>div.roomStaOC{background:url(../img/HotelManage/room-clean@3x.png) no-repeat;background-size: 100% 100%;}
.roomsTypeStaBox ul li.roomLstLi>div.roomStaOS{background:url(../img/HotelManage/lock@3x.png) no-repeat;background-size: 100% 100%;}
.roomsTypeStaBox ul li.roomLstLi>div.roomStaOO{background:url(../img/HotelManage/repair@3x.png) no-repeat;background-size: 100% 100%;}
.roomsTypeStaBox ul li.roomLstLi>div .roomNumber{color:#021C4B;font-size: 16px;font-weight:600;position: absolute;left:6px;top:6px;}
.roomsTypeStaBox ul li.roomLstLi>div .labName{position: absolute;right:8px;bottom:8px;font-size: 14px;font-weight: 500;color:#021C4B;}

.reportHt50{height:50%;padding-bottom: 20px}
.reportChartbox{position: relative;width:100%;height:100%;box-shadow:0px 2px 5px 0px rgba(74,144,226,0.22),1px 1px 1px 0px rgba(248,253,255,0.15),0px 0px 1px 0px rgba(74,144,226,1);border-radius:4px;padding-top:40px;}
.reportChartbox .chartDom{width:100%;height:100%;}
.reportChartHeadBox{position:absolute;top:0;left:0;display:block;width:100%;height:40px;background:rgba(0,0,0,.2);border-radius:4px 4px 0 0;}
.reportChartHeadBox .el-select{float:right;margin-right:20px;}
.reportChartHeadBox .el-select .el-input__inner{height:30px!important;width:64px!important;padding:0!important;border:0px!important;}
.reportChartHeadBox>span{display: inline-block;padding-left:15px;height:40px;line-height: 40px;color:#008AFF;font-size:16px;position:relative;width:120px;}
.reportChartHeadBox>span i{position:absolute;top:12px;left:120px;display: block;width:2px;background:#008AFF;height: 16px;border-radius: 2px;}

.roomLists .navCrumbs{left:3px;}
.roomLists .roomListsTabBox{width: 100%;height:100%;padding-top:38px;position: relative;}
.roomLists .roomListsTabBox .tabNav{position: absolute;top:0;left:0;display: block;height:20px;line-height: 20px;}
.roomLists .roomListsTabBox nav.tabNav span:first-child a{margin-left:0;}
.roomLists .roomListsTabBox nav.tabNav span a{padding-left: 3px;margin-left:20px;padding-bottom: 8px;font-size: 16px;}
.roomLists .roomListsTabBox nav.tabNav span a.on {border-bottom: 2px solid #008aff}

.roomListsTabDomBox{width: 100%;height:100%;position: relative;box-shadow:0px 2px 5px 0px rgba(74,144,226,0.22),1px 1px 1px 0px rgba(248,253,255,0.15),0px 0px 1px 0px rgba(74,144,226,1);border-radius:4px;position: relative;padding-top:50px;}

.roomListSearchPanel{padding-left:20px;height:50px;position: absolute;left:0;top:0;display: block;width:100%;}
.roomListSearchPanel .el-select{margin-top:10px;margin-right:10px;}
.roomListSearchPanel .el-input__inner{height:30px;width:100px;}
.roomListSearchPanel .roomListDatePickerDef .el-input__inner{height:30px;width:120px;}

.roomListDatePicker{display: inline-block;width:240px;margin-right:10px;}
.roomListDatePickerDef{width:120px;}
.roomListDatePicker>.el-date-editor{height:30px!important;}
.roomListDatePicker .el-date-editor .el-range-input{background: none;font-size: 0.12rem!important;color:#fff;}
.roomListDatePicker .el-date-editor .el-range-separator{line-height: 22px;padding:0;color:#d8d8d8;font-size: 12px;}

.roomListHeadBox .el-dropdown{float: right;margin-right:10px;width:86px;cursor:pointer;}
.roomListHeadBox  .el-dropdown>span{color:#fff;padding:0;cursor:pointer;}
.hotelStaDropDown .el-dropdown-menu__item{padding-left:26px;}
.roomListHeadBox  .el-dropdown>span i{color:#fff;border:0px;}
.el-dropdown-menu{background: #04152c!important;border: 1px solid #4a90e2!important;-webkit-box-shadow: 0px 2px 12px 0px rgba(39, 141, 255, 0.25)!important;box-shadow: 0px 2px 12px 0px rgba(39, 141, 255, 0.25)!important;border-radius: 4px!important;}
.el-dropdown-menu__item div input {display: none;}
.el-dropdown-menu__item div{color:#fff;}
/*.el-dropdown-menu__item div.itemChild{display:none;}*/
.el-dropdown-menu__item div:hover{color:#1989fa!important;}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover{background:none;color:#fff;}
.el-dropdown-menu__item--divided:before{background:#04152c!important;}
.el-dropdown-menu__item--divided{border-top: 1px solid #333;}
.el-dropdown-menu__item b.left{
	content: "";
	position: absolute;
	left:8px;
	top:19px;
	display: block;
	width:0px;
	height:0px;
	cursor: pointer;
	border-left:9px solid #fff;
	border-top:6px solid transparent;
	border-bottom:6px solid transparent;
}
.el-dropdown-menu__item b.bottom{
	content: "";
	position: absolute;
	left:6px;
	top:21px;
	display: block;
	width:0px;
	height:0px;
	cursor: pointer;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-top:9px solid #fff;
}
.el-dropdown-menu__item b.left:hover{border-left:9px solid #008aff;}
.el-dropdown-menu__item b.top:hover{border-bottom:9px solid #008aff;}
.roomListHeadBox .el-dropdown::after{
  content: "";
  display: block;
  height: 100%;
  width: 10px;
  position: absolute;
  right: 10px;
  top:0;
  background: url("../img/TableCommon/drop-down.png") no-repeat center;
  background-size: 10px auto;
  pointer-events: none;
}
/* 视频监控  e*/


/* 能源管理-用能报表 s*/
.unitPriceBtn{display:inline-block;width:100px;text-align:center;line-height:28px;height:28px;background:rgba(51,51,51,0.2);box-shadow:0px 2px 5px 0px rgba(74,144,226,0.4),1px 1px 1px 0px rgba(248,253,255,0.15),0px 0px 1px 0px rgba(74,144,226,1);border-radius:2px;position: absolute;right:20px;top:10px;color:#fff;font-size: 12px;cursor:pointer;}
.energyReport{width:100%;height:100%;position: relative;padding-top:30px;}	
.energyReport .navCrumbs{left:20px;top:5px;}
.reportTabBox{width:100%;height:100%;position: relative;padding:50px 20px 20px 20px;}
.reportTabBox>nav.tabNav{position: absolute;top:0;left:0;display: block;}
.reportTabBox>nav.tabNav span{padding-left: 20px;}
.reportTabBox>nav.tabNav span a{padding:0;padding-bottom:8px;}
.reportTabBox>nav.tabNav span a.on{border-bottom: 1px solid #008aff;}
.reportTabBoxs{position:relative;display:block;width:100%;height:100%;box-shadow:0px 2px 5px 0px rgba(74,144,226,0.22),1px 1px 1px 0px rgba(248,253,255,0.15),0px 0px 1px 0px rgba(74,144,226,1);border-radius:4px;position: relative;padding-top:50px;}
.reportTabBoxsHead{height:50px;position:absolute;left:0;top:0;display:block;width:100%;padding-left: 10px;padding-top:10px;}
.reportTabBoxsHead .el-select input.el-input__inner{width:70px;height:32px;}
.reportTabBoxsHead .dateBox{display: inline-block;margin-left: 5px;margin-right:10px;}
.reportTabBoxsHead .dateBox .el-input__inner{width:70px!important;height:32px!important;padding-left: 15px;text-align: left!important;}
.reportTabBoxsHead .el-input__suffix{display: none!important;}
.reportTabBoxsHead .el-input__prefix{left:44px;}
.energyReport .el-table thead.is-group th{background: rgba(0,0,0,0)!important;}
.energyReport .el-table--border,.energyReport .el-table--group{border:0px!important;}
.energyReport .el-table--border td{border-right:1px solid rgba(45, 148, 240, 0.2)!important;}
.energyReport .el-table--border::after,.energyReport .el-table--group::after{width:0!important;}
.energyReport .el-table thead.is-group th{border-right:1px solid rgba(45, 148, 240, 0.2)!important;border-top: 1px solid rgba(45, 148, 240, 0.2)!important;}
.energyReport .el-table--group.el-table .el-table__body tr:first-child td{border-top: 1px solid rgba(45, 148, 240, 0.2)!important;}
.energyReport .el-table .el-table__body td.cellMonth .cell{color:#2DF0E0!important;}
.energyReport .el-table .el-table__body td.darkBl .cell{color:#439AFF!important;}
.energyReport .el-table .el-table__body td.darkOr .cell{color:#FFA414!important;}
.energyReport .el-table__footer-wrapper tbody td{background:rgba(0,0,0,0)!important;color:#fff!important;}
.energyReport .el-table__footer-wrapper td{border-top:1px solid rgba(58, 137, 249, 0.3)!important;}
.reportLeader{background:rgba(74,144,226,0.05)!important;}
.unitDomBox{position:absolute;left:0;top:0;display: block;width:100%;height:100%;padding:19px;background:rgba(0,0,0,.2);}

.unitPrice{width:100%;height:100%;background:#051732;border-radius:4px;position: relative;}
.unitHeadBox{width:100%;height:40px;background:rgba(0,0,0,.2);padding-left: 20px;font-size: 14px;border-radius:4px 4px 0 0;line-height: 40px;color:#fff;}
.unitPrice .el-form{margin-top: 30px;}
.el-form ul{position: relative;padding:0;padding-left: 40px;border-top:1px solid rgba(181, 215, 255, 0.25);height:30px;}
.el-form ul li:first-child{position:absolute;left:0;top:0;display: block;width:40px;}
.el-form ul li{float: left;width:20%;text-align: center;color:#fff;font-size: 12px;border-left:1px solid rgba(181, 215, 255, 0.25);border-bottom:1px solid rgba(181, 215, 255, 0.25);height:30px;line-height: 30px;}
.el-form ul li .el-input__inner{height:30px;border:0!important;color:#008AFF!important;}
.el-form ul.itemsBox li:first-child{cursor: pointer;}
.addMode{width:100%;height:30px;line-height: 30px;text-align: center;border:1px solid #1989fa;background:rgba(58,132,238,0.2);}
.addMode span{cursor:pointer;color:#fff;}
.addMode span .el-icon-circle-plus{display: inline-block;font-size: 14px;color:#3A84EE;cursor: pointer;padding-right:10px;}
.el-form ul.itemsBox li:first-child .liCloseBox{position:absolute;left:0;top:0;width:40px;height:30px;display: none;text-align: center;line-height: 30px;color:#e4393c;background:rgba(58,132,238,1);font-size:16px;}
.el-form ul.itemsBox li:first-child:hover .liCloseBox{display: block;}
.el-form ul.itemsBox li .el-range-editor .el-range-input{background:none;color:#FFA414;}
.el-form ul.itemsBox li .el-date-editor .el-range-separator{padding:0;line-height: 22px;}

/* 能源管理-用能报表 e*/

input::-webkit-input-placeholder {font-size: 0.12rem!important;}
input::-moz-placeholder {font-size: 0.12rem!important;}
input::-ms-input-placeholder {font-size: 0.12rem!important;}

