.powerSetTit .powerYearBox input{
  width: 1.2rem !important;
  height: .2rem !important;
  padding-left: .16rem;
  border: none!important;
}
.powerSetTit .powerYearBox{
  display: flex;
  align-items: center;
  border: 1px solid #1989fa!important;
  border-radius: 2px;
  position: relative;
}
.powerYearBox::after{
  content: "";
  display: block;
  height: 100%;
  width: 10px;
  position: absolute;
  right: 10px;
  top: 0;
  background: url("../img/TableCommon/drop-down.png") no-repeat center;
  background-size: 10px auto;
  pointer-events: none;
}
.powerSetTit .powerYearBox>div span{display: none;}
