.otherDepMaContainer .navTabs .el-tabs__item{
  width: auto;
  min-width: 80px;
  padding: 0 15px!important;
}
.otherDepApproListBox{
  margin-top: 0!important;
}
.approvaListCotainer .tableBoxs .tabHead .dateBox,.otherOrderListCotainer .tableBoxs .tabHead .dateBox{
  margin-top: 0!important;
}
.approvaListCotainer .tableBoxs .tabHead,.otherOrderListCotainer .tableBoxs .tabHead{
  height: .35rem!important;
}
.approvaListCotainer .tableBoxs{
  height: calc(100% - .7rem) !important;
}
.approvaListCotainer .tableBoxs .tableIn{
  height: calc(100% - .5rem) !important;
}
.approvaListCotainer .tableBoxs .tableIn>div,.approvaListCotainer .tableBoxs .tableIn>div>div{
  height: 100% !important;
}
.approvaListCotainer .el-table--scrollable-y .el-table__body-wrapper{
  height: calc(100% - .5rem) !important;
}
.otherDepColor1{
  color: #F38A00;
}
.otherDepColor2{
  color: #4ae283;
}
.otherDepColor3{
  color: #FA6074;
}
.otherDepColor4{
  color: #9BBAE0;
}
